/* Base Button Styles */
.button, button {
  color: var(--button-text, #000000);
  background-color: var(--button-background, transparent);
  border: var(--button-border, none);
  transition: filter 0.2s ease, transform 0.2s ease;
}

/* Hover Effects */
.button:hover, button:hover {
  filter: brightness(90%);
  transform: translateY(-1px);
}

/* Icon Styles */
.icon {
  filter: var(--icon-filter, none);
}

/* Brand Specific Styles */

/* Adrelier */
.button-adrelier {
  --button-text: #FFFFFF;
  --button-background: #a0774b;
  --button-border: 1px solid #FFFFFF;
}

/* Bluesky */
.button-bluesky {
  --button-text: #FFFFFF;
  --button-background: #1185FE;
  --button-border: 1px solid #FFFFFF;
}

/* Discord */
.button-discord {
  --button-text: #FFFFFF;
  --button-background: #5865F2;
  --button-border: 1px solid #FFFFFF;
}

/* Kakaotalk */
.button-kakaotalk {
  --button-text: #ffffff;
  --button-background: #473838;
  --button-border: 1px solid #FFFFFF;
}

/* X (Twitter) */
.button-x {
  --button-text: #FFFFFF;
  --button-background: #000000;
  --button-border: 1px solid #FFFFFF;
}

/* Misskey */
.button-misskey {
  --button-text: #FFFFFF;
  --button-background: #74bd00;
  --button-border: 1px solid #FFFFFF;
}

/* YouTube */
.button-yt {
  --button-text: #FFFFFF;
  --button-background: #FF0000;
  --button-border: 1px solid #FFFFFF;
}

/* Niconico */
.button-nico {
  --button-text: #FFFFFF;
  --button-background: #202020;
  --button-border: 1px solid #FFFFFF;
}

/* Email */
.button-email {
  --button-text: #FFFFFF;
  --button-background: #1c44c2;
  --button-border: 1px solid #FFFFFF;
}